.hljs {
	/* background: var(--jeecg-component-bg-color); */
}


.vue-jeecg-ui-doc .octicon {
	display: inline-block;
	fill: currentcolor;
	vertical-align: text-bottom;
}

.vue-jeecg-ui-doc .anchor {
	float: left;
	line-height: 1;
	margin-left: -20px;
	padding-right: 4px;
}

.vue-jeecg-ui-doc .anchor:focus {
	outline: none;
}

.vue-jeecg-ui-doc-h1 .octicon-link,
.vue-jeecg-ui-doc-h2 .octicon-link,
.vue-jeecg-ui-doc-h3 .octicon-link,
.vue-jeecg-ui-doc-h4 .octicon-link,
.vue-jeecg-ui-doc-h5 .octicon-link,
.vue-jeecg-ui-doc-h6 .octicon-link {
	color: #1b1f23;
	vertical-align: middle;
	visibility: hidden;
}

.vue-jeecg-ui-doc-h1:hover .anchor,
.vue-jeecg-ui-doc-h2:hover .anchor,
.vue-jeecg-ui-doc-h3:hover .anchor,
.vue-jeecg-ui-doc-h4:hover .anchor,
.vue-jeecg-ui-doc-h5:hover .anchor,
.vue-jeecg-ui-doc-h6:hover .anchor {
	text-decoration: none;
}

.vue-jeecg-ui-doc-h1:hover .anchor .octicon-link,
.vue-jeecg-ui-doc-h2:hover .anchor .octicon-link,
.vue-jeecg-ui-doc-h3:hover .anchor .octicon-link,
.vue-jeecg-ui-doc-h4:hover .anchor .octicon-link,
.vue-jeecg-ui-doc-h5:hover .anchor .octicon-link,
.vue-jeecg-ui-doc-h6:hover .anchor .octicon-link {
	visibility: visible;
}

.vue-jeecg-ui-doc-h1:hover .anchor .octicon-link::before,
.vue-jeecg-ui-doc-h2:hover .anchor .octicon-link::before,
.vue-jeecg-ui-doc-h3:hover .anchor .octicon-link::before,
.vue-jeecg-ui-doc-h4:hover .anchor .octicon-link::before,
.vue-jeecg-ui-doc-h5:hover .anchor .octicon-link::before,
.vue-jeecg-ui-doc-h6:hover .anchor .octicon-link::before {
	width: 16px;
	height: 16px;
	content: " ";
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
}

/* .vue-jeecg-ui-doc {
	text-size-adjust: 100%;
	text-size-adjust: 100%;
	color: #24292e;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-size: 16px;
	line-height: 1.5;
	word-wrap: break-word;
} */

.vue-jeecg-ui-doc-details {
	display: block;
}

.vue-jeecg-ui-doc-summary {
	display: list-item;
}

.vue-jeecg-ui-doc-a {
	background-color: initial;
}

.vue-jeecg-ui-doc-a:active,
.vue-jeecg-ui-doc-a:hover {
	outline-width: 0;
}

.vue-jeecg-ui-doc-strong {
	font-weight: inherit;
	font-weight: bolder;
}

.vue-jeecg-ui-doc-h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

.vue-jeecg-ui-doc-img {
	border-style: none;
}

.vue-jeecg-ui-doc-code,
.vue-jeecg-ui-doc-kbd,
.vue-jeecg-ui-doc-pre {
	font-family: monospace;
	font-size: 1em;
}


.vue-jeecg-ui-doc-input {
	overflow: visible;
	font: inherit;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.vue-jeecg-ui-doc [type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}

.vue-jeecg-ui-doc * {
	box-sizing: border-box;
}

.vue-jeecg-ui-doc-a {
	color: #0366d6;
	text-decoration: none;
}

.vue-jeecg-ui-doc-a:hover {
	text-decoration: underline;
}

.vue-jeecg-ui-doc-strong {
	font-weight: 600;
}

.vue-jeecg-ui-doc-hr {
	box-sizing: initial;
	height: 0;
	margin: 15px 0;
	overflow: hidden;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #dfe2e5;
}

.vue-jeecg-ui-doc-hr::after,
.vue-jeecg-ui-doc-hr::before {
	display: table;
	content: "";
}

.vue-jeecg-ui-doc-hr::after {
	clear: both;
}

.vue-jeecg-ui-doc-table {
	border-spacing: 0;
	border-collapse: collapse;
}

.vue-jeecg-ui-doc-td,
.vue-jeecg-ui-doc-th {
	padding: 0;
}

.vue-jeecg-ui-doc-details .vue-jeecg-ui-doc-summary {
	cursor: pointer;
}

.vue-jeecg-ui-doc-kbd {
	display: inline-block;
	padding: 3px 5px;
	font: 11px SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
	line-height: 10px;
	color: #444d56;
	vertical-align: middle;
	background-color: #fafbfc;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #d1d5da;
}

.vue-jeecg-ui-doc-h1,
.vue-jeecg-ui-doc-h2,
.vue-jeecg-ui-doc-h3,
.vue-jeecg-ui-doc-h4,
.vue-jeecg-ui-doc-h5,
.vue-jeecg-ui-doc-h6 {
	margin-top: 0;
	margin-bottom: 0;
}

.vue-jeecg-ui-doc-h1 {
	font-size: 32px;
}

.vue-jeecg-ui-doc-h1,
.vue-jeecg-ui-doc-h2 {
	font-weight: 600;
}

.vue-jeecg-ui-doc-h2 {
	font-size: 24px;
}

.vue-jeecg-ui-doc-h3 {
	font-size: 20px;
}

.vue-jeecg-ui-doc-h3,
.vue-jeecg-ui-doc-h4 {
	font-weight: 600;
}

.vue-jeecg-ui-doc-h4 {
	font-size: 16px;
}

.vue-jeecg-ui-doc-h5 {
	font-size: 14px;
}

.vue-jeecg-ui-doc-h5,
.vue-jeecg-ui-doc-h6 {
	font-weight: 600;
}

.vue-jeecg-ui-doc-h6 {
	font-size: 12px;
}

.vue-jeecg-ui-doc-p {
	margin-top: 0;
	margin-bottom: 10px;
}

.vue-jeecg-ui-doc-blockquote {
	margin: 0;
}

.vue-jeecg-ui-doc-ol,
.vue-jeecg-ui-doc-ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.vue-jeecg-ui-doc-ol .vue-jeecg-ui-doc-ol,
.vue-jeecg-ui-doc-ul .vue-jeecg-ui-doc-ol {
	list-style-type: lower-roman;
}

.vue-jeecg-ui-doc-ol .vue-jeecg-ui-doc-ol .vue-jeecg-ui-doc-ol,
.vue-jeecg-ui-doc-ol .vue-jeecg-ui-doc-ul .vue-jeecg-ui-doc-ol,
.vue-jeecg-ui-doc-ul .vue-jeecg-ui-doc-ol .vue-jeecg-ui-doc-ol,
.vue-jeecg-ui-doc-ul .vue-jeecg-ui-doc-ul .vue-jeecg-ui-doc-ol {
	list-style-type: lower-alpha;
}

.vue-jeecg-ui-doc-dd {
	margin-left: 0;
}

.vue-jeecg-ui-doc-code,
.vue-jeecg-ui-doc-pre {
	font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
	font-size: 12px;
}

.vue-jeecg-ui-doc-pre {
	margin-top: 0;
	margin-bottom: 0;
}

.vue-jeecg-ui-doc-input::-webkit-inner-spin-button,
.vue-jeecg-ui-doc-input::-webkit-outer-spin-button {
	margin: 0;
	appearance: none;
}

.vue-jeecg-ui-doc :checked + .radio-label {
	position: relative;
	z-index: 1;
	border-color: #0366d6;
}

.vue-jeecg-ui-doc .border {
	border: 1px solid #e1e4e8 !important;
}

.vue-jeecg-ui-doc .border-0 {
	border: 0 !important;
}

.vue-jeecg-ui-doc .border-bottom {
	border-bottom: 1px solid #e1e4e8 !important;
}

.vue-jeecg-ui-doc .rounded-1 {
	border-radius: 3px !important;
}

.vue-jeecg-ui-doc .bg-white {
	background-color: #fff !important;
}

.vue-jeecg-ui-doc .bg-gray-light {
	background-color: #fafbfc !important;
}

.vue-jeecg-ui-doc .text-gray-light {
	color: #6a737d !important;
}

.vue-jeecg-ui-doc .mb-0 {
	margin-bottom: 0 !important;
}

.vue-jeecg-ui-doc .my-2 {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
}

.vue-jeecg-ui-doc .pl-0 {
	padding-left: 0 !important;
}

.vue-jeecg-ui-doc .py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.vue-jeecg-ui-doc .pl-1 {
	padding-left: 4px !important;
}

.vue-jeecg-ui-doc .pl-2 {
	padding-left: 8px !important;
}

.vue-jeecg-ui-doc .py-2 {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

.vue-jeecg-ui-doc .pl-3,
.vue-jeecg-ui-doc .px-3 {
	padding-left: 16px !important;
}

.vue-jeecg-ui-doc .px-3 {
	padding-right: 16px !important;
}

.vue-jeecg-ui-doc .pl-4 {
	padding-left: 24px !important;
}

.vue-jeecg-ui-doc .pl-5 {
	padding-left: 32px !important;
}

.vue-jeecg-ui-doc .pl-6 {
	padding-left: 40px !important;
}

.vue-jeecg-ui-doc .f6 {
	font-size: 12px !important;
}

.vue-jeecg-ui-doc .lh-condensed {
	line-height: 1.25 !important;
}

.vue-jeecg-ui-doc .text-bold {
	font-weight: 600 !important;
}

.vue-jeecg-ui-doc .pl-c {
	color: #6a737d;
}

.vue-jeecg-ui-doc .pl-c1,
.vue-jeecg-ui-doc .pl-s .pl-v {
	color: #005cc5;
}

.vue-jeecg-ui-doc .pl-e,
.vue-jeecg-ui-doc .pl-en {
	color: #6f42c1;
}

.vue-jeecg-ui-doc .pl-s .pl-s1,
.vue-jeecg-ui-doc .pl-smi {
	color: #24292e;
}

.vue-jeecg-ui-doc .pl-ent {
	color: #22863a;
}

.vue-jeecg-ui-doc .pl-k {
	color: #d73a49;
}

.vue-jeecg-ui-doc .pl-pds,
.vue-jeecg-ui-doc .pl-s,
.vue-jeecg-ui-doc .pl-s .pl-pse .pl-s1,
.vue-jeecg-ui-doc .pl-sr,
.vue-jeecg-ui-doc .pl-sr .pl-cce,
.vue-jeecg-ui-doc .pl-sr .pl-sra,
.vue-jeecg-ui-doc .pl-sr .pl-sre {
	color: #032f62;
}

.vue-jeecg-ui-doc .pl-smw,
.vue-jeecg-ui-doc .pl-v {
	color: #e36209;
}

.vue-jeecg-ui-doc .pl-bu {
	color: #b31d28;
}

.vue-jeecg-ui-doc .pl-ii {
	color: #fafbfc;
	background-color: #b31d28;
}

.vue-jeecg-ui-doc .pl-c2 {
	color: #fafbfc;
	background-color: #d73a49;
}

.vue-jeecg-ui-doc .pl-c2::before {
	content: "^M";
}

.vue-jeecg-ui-doc .pl-sr .pl-cce {
	font-weight: 700;
	color: #22863a;
}

.vue-jeecg-ui-doc .pl-ml {
	color: #735c0f;
}

.vue-jeecg-ui-doc .pl-mh,
.vue-jeecg-ui-doc .pl-mh .pl-en,
.vue-jeecg-ui-doc .pl-ms {
	font-weight: 700;
	color: #005cc5;
}

.vue-jeecg-ui-doc .pl-mi {
	font-style: italic;
	color: #24292e;
}

.vue-jeecg-ui-doc .pl-mb {
	font-weight: 700;
	color: #24292e;
}

.vue-jeecg-ui-doc .pl-md {
	color: #b31d28;
	background-color: #ffeef0;
}

.vue-jeecg-ui-doc .pl-mi1 {
	color: #22863a;
	background-color: #f0fff4;
}

.vue-jeecg-ui-doc .pl-mc {
	color: #e36209;
	background-color: #ffebda;
}

.vue-jeecg-ui-doc .pl-mi2 {
	color: #f6f8fa;
	background-color: #005cc5;
}

.vue-jeecg-ui-doc .pl-mdr {
	font-weight: 700;
	color: #6f42c1;
}

.vue-jeecg-ui-doc .pl-ba {
	color: #586069;
}

.vue-jeecg-ui-doc .pl-sg {
	color: #959da5;
}

.vue-jeecg-ui-doc .pl-corl {
	text-decoration: underline;
	color: #032f62;
}

.vue-jeecg-ui-doc .mb-0 {
	margin-bottom: 0 !important;
}

.vue-jeecg-ui-doc .my-2 {
	margin-bottom: 8px !important;
}

.vue-jeecg-ui-doc .my-2 {
	margin-top: 8px !important;
}

.vue-jeecg-ui-doc .pl-0 {
	padding-left: 0 !important;
}

.vue-jeecg-ui-doc .py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.vue-jeecg-ui-doc .pl-1 {
	padding-left: 4px !important;
}

.vue-jeecg-ui-doc .pl-2 {
	padding-left: 8px !important;
}

.vue-jeecg-ui-doc .py-2 {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

.vue-jeecg-ui-doc .pl-3 {
	padding-left: 16px !important;
}

.vue-jeecg-ui-doc .pl-4 {
	padding-left: 24px !important;
}

.vue-jeecg-ui-doc .pl-5 {
	padding-left: 32px !important;
}

.vue-jeecg-ui-doc .pl-6 {
	padding-left: 40px !important;
}

.vue-jeecg-ui-doc .pl-7 {
	padding-left: 48px !important;
}

.vue-jeecg-ui-doc .pl-8 {
	padding-left: 64px !important;
}

.vue-jeecg-ui-doc .pl-9 {
	padding-left: 80px !important;
}

.vue-jeecg-ui-doc .pl-10 {
	padding-left: 96px !important;
}

.vue-jeecg-ui-doc .pl-11 {
	padding-left: 112px !important;
}

.vue-jeecg-ui-doc .pl-12 {
	padding-left: 128px !important;
}

.vue-jeecg-ui-doc-hr {
	border-bottom-color: #eee;
}

.vue-jeecg-ui-doc-kbd {
	display: inline-block;
	padding: 3px 5px;
	font: 11px SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
	line-height: 10px;
	color: #444d56;
	vertical-align: middle;
	background-color: #fafbfc;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #d1d5da;
}

.vue-jeecg-ui-doc::after,
.vue-jeecg-ui-doc::before {
	display: table;
	content: "";
}

.vue-jeecg-ui-doc::after {
	clear: both;
}

.vue-jeecg-ui-doc > :first-child {
	margin-top: 0 !important;
}

.vue-jeecg-ui-doc > :last-child {
	margin-bottom: 0 !important;
}

.vue-jeecg-ui-doc-a:not([href]) {
	color: inherit;
	text-decoration: none;
}

.vue-jeecg-ui-doc-blockquote,
.vue-jeecg-ui-doc-details,
.vue-jeecg-ui-doc-dl,
.vue-jeecg-ui-doc-ol,
.vue-jeecg-ui-doc-p,
.vue-jeecg-ui-doc-pre,
.vue-jeecg-ui-doc-table,
.vue-jeecg-ui-doc-ul {
	margin-top: 0;
	margin-bottom: 16px;
}

.vue-jeecg-ui-doc-hr {
	height: 0.25em;
	padding: 0;
	margin: 24px 0;
	background-color: #e1e4e8;
	border: 0;
}

.vue-jeecg-ui-doc-blockquote {
	padding: 0 1em;
	color: #6a737d;
	border-left: 0.25em solid #dfe2e5;
}

.vue-jeecg-ui-doc-blockquote > :first-child {
	margin-top: 0;
}

.vue-jeecg-ui-doc-blockquote > :last-child {
	margin-bottom: 0;
}

.vue-jeecg-ui-doc-h1,
.vue-jeecg-ui-doc-h2,
.vue-jeecg-ui-doc-h3,
.vue-jeecg-ui-doc-h4,
.vue-jeecg-ui-doc-h5,
.vue-jeecg-ui-doc-h6 {
	margin-top: 48px;
	margin-bottom: 8px;
	font-weight: 600;
	line-height: 1.25;
}

.vue-jeecg-ui-doc-h1 {
	font-size: 2em;
}

.vue-jeecg-ui-doc-h1,
.vue-jeecg-ui-doc-h2 {
	padding-bottom: 0.3em;
	border-bottom: 1px solid #eaecef;
}

.vue-jeecg-ui-doc-h2 {
	font-size: 1.5em;
}

.vue-jeecg-ui-doc-h3 {
	font-size: 1.25em;
}

.vue-jeecg-ui-doc-h4 {
	font-size: 1em;
}

.vue-jeecg-ui-doc-h5 {
	font-size: 0.875em;
}

.vue-jeecg-ui-doc-h6 {
	font-size: 0.85em;
	color: #6a737d;
}

.vue-jeecg-ui-doc-ol,
.vue-jeecg-ui-doc-ul {
	padding-left: 2em;
}

.vue-jeecg-ui-doc-ol .vue-jeecg-ui-doc-ol,
.vue-jeecg-ui-doc-ol .vue-jeecg-ui-doc-ul,
.vue-jeecg-ui-doc-ul .vue-jeecg-ui-doc-ol,
.vue-jeecg-ui-doc-ul .vue-jeecg-ui-doc-ul {
	margin-top: 0;
	margin-bottom: 0;
}

.vue-jeecg-ui-doc-li {
	word-wrap: break-all;
}

.vue-jeecg-ui-doc-li > .vue-jeecg-ui-doc-p {
	margin-top: 16px;
}

.vue-jeecg-ui-doc-li + .vue-jeecg-ui-doc-li {
	margin-top: 0.25em;
}

.vue-jeecg-ui-doc-dl {
	padding: 0;
}

.vue-jeecg-ui-doc-dl .vue-jeecg-ui-doc-dt {
	padding: 0;
	margin-top: 16px;
	font-size: 1em;
	font-style: italic;
	font-weight: 600;
}

.vue-jeecg-ui-doc-dl .vue-jeecg-ui-doc-dd {
	padding: 0 16px;
	margin-bottom: 16px;
}

.vue-jeecg-ui-doc-table {
	display: table;
	width: 100%;
	overflow: auto;
}

.vue-jeecg-ui-doc-table .vue-jeecg-ui-doc-th {
	font-weight: 600;
}

.vue-jeecg-ui-doc-table .vue-jeecg-ui-doc-td,
.vue-jeecg-ui-doc-table .vue-jeecg-ui-doc-th {
	padding: 6px 13px;
	border: 1px solid #dfe2e5;

	/* white-space: nowrap; */
}

.vue-jeecg-ui-doc-table .vue-jeecg-ui-doc-td:nth-child(3),
.vue-jeecg-ui-doc-table .vue-jeecg-ui-doc-td:nth-child(4),
.vue-jeecg-ui-doc-table .vue-jeecg-ui-doc-td:nth-child(5) {
	white-space: pre-wrap;
}

.vue-jeecg-ui-doc-table .vue-jeecg-ui-doc-tr {
	background-color: var(--jeecg-markdown-jeecgui-doc-table);
	border-top: var(--jeecg-markdown-jeecgui-doc-table-border);
}

.vue-jeecg-ui-doc-table .vue-jeecg-ui-doc-tr:nth-child(2n) {
	background-color: var(--jeecg-markdown-doc-table);
}

.vue-jeecg-ui-doc-img {
	max-width: 100%;
	box-sizing: initial;
	background-color: #fff;
}

.vue-jeecg-ui-doc-img[align="right"] {
	padding-left: 20px;
}

.vue-jeecg-ui-doc-img[align="left"] {
	padding-right: 20px;
}

.vue-jeecg-ui-doc-code {
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 85%;
	background-color: rgb(27 31 35 / 5%);
	border-radius: 3px;
}

.vue-jeecg-ui-doc-pre {
	word-wrap: normal;
}

.vue-jeecg-ui-doc-pre > .vue-jeecg-ui-doc-code {
	padding: 0;
	margin: 0;
	font-size: 100%;
	word-break: normal;
	white-space: pre;
	background: transparent;
	border: 0;
}

.vue-jeecg-ui-doc .highlight {
	margin-bottom: 16px;
}

.vue-jeecg-ui-doc .highlight .vue-jeecg-ui-doc-pre {
	margin-bottom: 0;
	word-break: normal;
}

.vue-jeecg-ui-doc .highlight .vue-jeecg-ui-doc-pre,
.vue-jeecg-ui-doc-pre {
	padding: 16px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: #f6f8fa;
	border-radius: 3px;
}

.vue-jeecg-ui-doc-pre .vue-jeecg-ui-doc-code {
	display: inline;
	max-width: auto;
	padding: 0;
	margin: 0;
	overflow: visible;
	line-height: inherit;
	word-wrap: normal;
	background-color: initial;
	border: 0;
}

.vue-jeecg-ui-doc .commit-tease-sha {
	display: inline-block;
	font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
	font-size: 90%;
	color: #444d56;
}

.vue-jeecg-ui-doc .full-commit .btn-outline:not(:disabled):hover {
	color: #005cc5;
	border-color: #005cc5;
}

.vue-jeecg-ui-doc .blob-wrapper {
	overflow-x: auto;
	overflow-y: hidden;
}

.vue-jeecg-ui-doc .blob-wrapper-embedded {
	max-height: 240px;
	overflow-y: auto;
}

.vue-jeecg-ui-doc .blob-num {
	width: 1%;
	min-width: 50px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
	font-size: 12px;
	line-height: 20px;
	color: rgb(27 31 35 / 30%);
	text-align: right;
	white-space: nowrap;
	vertical-align: top;
	cursor: pointer;
	user-select: none;
}

.vue-jeecg-ui-doc .blob-num:hover {
	color: rgb(27 31 35 / 60%);
}

.vue-jeecg-ui-doc .blob-num::before {
	content: attr(data-line-number);
}

.vue-jeecg-ui-doc .blob-code {
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 20px;
	vertical-align: top;
}

.vue-jeecg-ui-doc .blob-code-inner {
	overflow: visible;
	font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
	font-size: 12px;
	color: #24292e;
	word-wrap: normal;
	white-space: pre;
}

.vue-jeecg-ui-doc .pl-token.active,
.vue-jeecg-ui-doc .pl-token:hover {
	cursor: pointer;
	background: #ffea7f;
}

.vue-jeecg-ui-doc .tab-size[data-tab-size="1"] {
	tab-size: 1;
}

.vue-jeecg-ui-doc .tab-size[data-tab-size="2"] {
	tab-size: 2;
}

.vue-jeecg-ui-doc .tab-size[data-tab-size="3"] {
	tab-size: 3;
}

.vue-jeecg-ui-doc .tab-size[data-tab-size="4"] {
	tab-size: 4;
}

.vue-jeecg-ui-doc .tab-size[data-tab-size="5"] {
	tab-size: 5;
}

.vue-jeecg-ui-doc .tab-size[data-tab-size="6"] {
	tab-size: 6;
}

.vue-jeecg-ui-doc .tab-size[data-tab-size="7"] {
	tab-size: 7;
}

.vue-jeecg-ui-doc .tab-size[data-tab-size="8"] {
	tab-size: 8;
}

.vue-jeecg-ui-doc .tab-size[data-tab-size="9"] {
	tab-size: 9;
}

.vue-jeecg-ui-doc .tab-size[data-tab-size="10"] {
	tab-size: 10;
}

.vue-jeecg-ui-doc .tab-size[data-tab-size="11"] {
	tab-size: 11;
}

.vue-jeecg-ui-doc .tab-size[data-tab-size="12"] {
	tab-size: 12;
}

.vue-jeecg-ui-doc .task-list-item {
	list-style-type: none;
}

.vue-jeecg-ui-doc .task-list-item + .task-list-item {
	margin-top: 3px;
}

.vue-jeecg-ui-doc .task-list-item .vue-jeecg-ui-doc-input {
	margin: 0 0.2em 0.25em -1.6em;
	vertical-align: middle;
}

/* 常见问题样式 */
.vue-jeecg-ui-doc-wrap details {
	margin-bottom: 12px;
}

.vue-jeecg-ui-doc-wrap details code {
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 85%;
	background-color: var(--jeecg-info-light);
	border-radius: 6px;
}

.tip{
	padding: 8px 16px;
	background-color: var(--block-tip-bg-color);
	border-radius: 4px;
	border-left: 5px solid var(--el-color-primary);
	margin: 20px 0;
}
